/* ==UserStyle==
@name           Hide youtube shit
@namespace      github.com/openstyles/stylus
@version        1.5.0
@description    Hide annoying shit on youtube
@author         Vallek
==/UserStyle== */

@-moz-document url-prefix("https://www.youtube.com/watch?") {
  /* No round corners */
  #ytd-player.ytd-watch-flexy {
    border-radius: unset !important;
  }
  /* Hide controls shadow, next button */
  .ytp-gradient-bottom,
  .ytp-next-button {
    display: none !important;
  }
  .ytp-svg-shadow {
    stroke-opacity: 0.5 !important;
  }
  .ytp-timed-markers-container,
  .ytp-chapter-hover-container.ytp-exp-chapter-hover-container,
  .ytp-volume-slider-handle {
    box-shadow: 0 0 2px rgba(0,0,0,1);
  }
  .ytp-progress-bar {
    background-color: rgba(0,0,0,0.5);
  }
  .ytp-volume-slider-handle {
    background-color: rgb(255, 255, 255) !important;
  }
  .ytp-volume-slider-handle::before {
    box-shadow: 0 0 2px rgba(0,0,0,1);
    z-index: -1;
  }
  .ytp-time-wrapper {
    display: inline-block;
    align-self: center;
    line-height: 1.2;
    color: white !important;
    text-shadow: 0 0 2px rgba(0,0,0,1) !important;
    background-color: rgba(0,0,0,0.5);
    padding: 0 0.3em;
  }
  .ytp-chapter-title-content {
    text-shadow: 0 0 2px rgba(0,0,0,1) !important;
  }
  .ytp-tooltip-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ytp-tooltip-title {
    width: min-content !important;
    right: 0 !important;
  }
  .ytp-tooltip-title > span,
  .ytp-tooltip-text {
    display: block !important;
    padding: 0 0.3em;
    background-color: rgba(0,0,0,0.5) !important;
  }
  /* Hide shorts from sidebar */
  ytd-reel-shelf-renderer {
    display: none !important;
  }
  /* Hide current channel block from sidebar */
  ytd-channel-renderer {
    display: none !important;
  }
  /* Don't hide cursor unless fullscreen (blinking fix) */
  .video-stream.html5-main-video {
    cursor: initial;
  }
  .ytp-fullscreen .video-stream.html5-main-video {
    cursor: revert;
  }
}

@-moz-document url-prefix("https://www.youtube.com/results?search_query=") {
  /* Hide shorts, suggestions, crisis panel and people also search from search results */
  ytd-shelf-renderer,
  ytd-reel-shelf-renderer.ytd-item-section-renderer,
  ytd-emergency-onebox-renderer,
  ytd-horizontal-card-list-renderer {
    display: none !important;  
  }
}

@-moz-document url-prefix("https://www.youtube.com/feed/subscriptions") {
  /* Hide shorts and top ui panel from subs page */
  ytd-rich-section-renderer {
    display: none !important;
  }
  /* Number of videos per row on desktop */
  @media (min-width: 1366px) {
    .style-scope.ytd-rich-grid-renderer {
      --ytd-rich-grid-items-per-row: 5 !important;
    }
    /* left margin fix */
    .style-scope.ytd-rich-grid-renderer > ytd-rich-item-renderer {
      margin-left: calc(var(--ytd-rich-grid-item-margin)/2) !important;
    }
  }
}