/* ==UserStyle==
@name           youtube.com - 8/24/2024, 10:15:51 PM
@namespace      github.com/openstyles/stylus
@version        1.3.3
@description    Hide annoying shit on youtube
@author         Vallek
==/UserStyle== */

@-moz-document url-prefix("https://www.youtube.com/watch?") {
  /* No round corners */
  #ytd-player.ytd-watch-flexy {
    border-radius: unset !important;
  }
  /* Hide controls shadow, next button */
  .ytp-gradient-bottom,
  .ytp-next-button {
    display: none !important;
  }
  .ytp-timed-markers-container,
  .ytp-chapter-hover-container.ytp-exp-chapter-hover-container {
    box-shadow: 0 0 2px rgba(0,0,0,.5);
  }
  .ytp-time-wrapper,
  .ytp-chapter-title-content {
    text-shadow: 0 0 3px rgba(0,0,0,1) !important;
  }
  .ytp-volume-slider-handle {
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
  }
  /* Hide shorts from sidebar */
  ytd-reel-shelf-renderer {
    display: none !important;
  }
}

@-moz-document url-prefix("https://www.youtube.com/results?search_query=") {
  /* Hide shorts, suggestions and crisis panel from search results */
  ytd-shelf-renderer,
  ytd-reel-shelf-renderer.ytd-item-section-renderer,
  ytd-emergency-onebox-renderer {
    display: none !important;  
  }
}

@-moz-document url-prefix("https://www.youtube.com/feed/subscriptions") {
  /* Hide shorts and top ui panel from subs page */
  ytd-rich-section-renderer {
    display: none !important;
  }
}