/* ==UserStyle==
@name           Hide youtube shit
@namespace      github.com/openstyles/stylus
@version        1.6.6
@description    Hide annoying shit on youtube
@author         Vallek
==/UserStyle== */

@-moz-document url-prefix("https://www.youtube.com/") {
  /* No round corners */
  .ytd-thumbnail {
    border-radius: 0 !important;
  }
}

@-moz-document url-prefix("https://www.youtube.com/watch?"),
   url-prefix("https://www.youtube.com/live/") {
  /* No round corners */
  #ytd-player.ytd-watch-flexy {
    border-radius: 0 !important;
  }
  /* Hide shorts from sidebar */
  ytd-reel-shelf-renderer {
    display: none !important;
  }
  /* Hide current channel block from sidebar */
  ytd-channel-renderer {
    display: none !important;
  }
  /* Don't hide cursor unless fullscreen (blinking fix) */
  .video-stream.html5-main-video {
    cursor: initial;
  }
  .ytp-fullscreen .video-stream.html5-main-video {
    cursor: revert;
  }
  /* Hide crisis panel */
  #clarify-box {
    display: none !important;
  }
  /* Hide turn on history popup */
  ytd-feed-nudge-renderer {
    display: none !important;
  }
}

@-moz-document url-prefix("https://www.youtube.com/results?search_query=") {
  /* Hide shorts, suggestions, crisis panel and people also search from search results */
  ytd-shelf-renderer,
  grid-shelf-view-model,
  ytd-reel-shelf-renderer.ytd-item-section-renderer,
  ytd-emergency-onebox-renderer,
  ytd-horizontal-card-list-renderer {
    display: none !important;  
  }
}

@-moz-document url-prefix("https://www.youtube.com/feed/subscriptions") {
  /* Hide shorts and top ui panel from subs page */
  ytd-rich-section-renderer {
    display: none !important;
  }
  /* Number of videos per row on desktop */
  @media (min-width: 1366px) {
    .style-scope.ytd-rich-grid-renderer {
      --ytd-rich-grid-items-per-row: 5 !important;
    }
    /* left margin fix */
    .style-scope.ytd-rich-grid-renderer > ytd-rich-item-renderer {
      margin-left: calc(var(--ytd-rich-grid-item-margin)/2) !important;
    }
  }
}